<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Mobile Usability Evaluation Testing</title>
</head>

<body>
    <nav>
        <div class="topnav" class="row">
            <a class="active" href="/">Home</a>
            <a href="/participants">Participants</a>
            <!-- <a href="/review">Review</a> -->
        </div>
    </nav>
    <div class="container-fluid">
        <div style="padding-left:16px; text-align: center;" class="row">

            <section id="video" class="col-sm-6">
                <p id="heading">MOBILE<br> USABILITY <br><span id="heading2">EVALUATION<br> SUITE</span></p>
            </section>
            <aside id="notes" class="col-sm-6">
                <div id="details">
                    <h1>Register a new Participant</h1>
                    <button class="button" onclick="location.href='/register'">Register</button>
                </div>

            </aside>
        </div>
    </div>
</body>

</html>