<!DOCTYPE html>
<html>

<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    
    
    <title>Mobile Usability Evaluation Testing</title>
    <link rel="icon" href="/assets/favicon.png">
</head>

<body>

    <nav>
        <div class="topnav" class="row">
            <a class="active" href="/">Home</a>
            <a href="/participants">Participants</a>
            <!-- <a href="/review">Review</a> -->
        </div>
    </nav>



    <!-- Main div code -->
    <form action="/addParticipant" method="POST">
        <div class="container">
            <h1 style="text-align: center;">Register</h1>
            <p style="text-align: center;">Please fill in this form to participate in testing.</p>
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>

            <label for="gender"><b>Gender</b></label>
            <select id="gender" name="gender">
                <option hidden >Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="transgender">Transgender</option>
            </select>

            <label for="time"><b>Time Slot</b></label>
            <select id="time" name="time">
                <option hidden>Select Time slot</option>
                <option value="10 to 12am">10 to 12am</option>
                <option value="1 to 3 pm">1 to 3 pm</option>
                <option value="4 to 6 pm">4 to 6 pm</option>
            </select>



            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Enter Email" name="email" id="email" required>

            <label for="date"><b>Date</b></label>
            <input type="date" placeholder="Enter date" name="date" id="date" required>

            <label for="phone"><b>Mobile Number</b></label>
            <input type="phone" pattern="[0-9]{10}" placeholder="Enter mobile no." name="phone" id="phone" required>

            <label for="addTask"><b>Tasks to perform</b></label><br>
            <input type="addTask" placeholder="Add Task" name="addTask" id="addTask">
            <span onclick="newElement()" class="addBtn">Add</span>
            <ul id="myUL" name="myUL"></ul>
            <input type="hidden" value="" id="hidden_task" name="hidden" />

            <button type="submit" class="registerbtn">Register</button>
        </div>


    </form>

    <script src="/script/main.js"></script>
</body>

</html>