<!DOCTYPE html>
<html>

<head>
    <title>Welcome To Registration Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="fevicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/colors.css" />
    <link rel="stylesheet" href="bootstrap.min.js">
    <script src="/script/main.js"></script>
</head>

<body>





    <!-- Main div code -->
    <form action="#">
        <div class="container">
            <h1 style="text-align: center;">Register</h1>
            <p style="text-align: center;">Please fill in this form to create an account.</p>
            <hr>

            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" id="name" required>

            <label for="gender"><b>Gender</b></label>
            <select id="gender">
			<option>Select Gender</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="transgender">Transgender</option>
		</select>

            <label for="time"><b>Time Slot</b></label>
            <select id="time">
			<option>Select Time slot</option>
			<option value="time">10 to 12am</option>
			<option value="time">1 to 3 pm</option>
			<option value="time">4 to 6 pm</option>
		</select>



            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>

            <label for="date"><b>Date</b></label>
            <input type="date" placeholder="Enter date" name="date" id="date" required>

            <label for="phone"><b>Mobile Number</b></label>
            <input type="phone" placeholder="Enter mobile no." name="phone" id="phone" required>

            <label for="addTask"><b>Tasks to perform</b></label><br>
            <input type="addTask" placeholder="Add Task" name="addTask" id="addTask" required>
            <span onclick="newElement()" class="addBtn">Add</span>
            <ul id="myUL"></ul>

            <!--<hr>
		<p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>-->

            <button type="submit" class="registerbtn" onclick="location.href='/participants'">Register</button>
        </div>

        <!--<div class="container signin">
		<p>Already have an account? <a href="#">Sign in</a>.</p>
		</div>-->
    </form>

    <!-- Main div ending here... -->
</body>

</html>